.product-card {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: $bg-color;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  place-self: center;

  &:hover {
    filter: brightness(1.1);
  }

  &-img {
    height: 75px;
    padding: 25px;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-info {
    padding: 5px 15px;

    a {
      color: $secondary-color;
      font-size: 1.3rem;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &-price {
    position: absolute;
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    right: 10px;
    bottom: 15px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
