.side-bar {
  overflow: scroll;

  h2 {
    padding: 10px;
    font-size: 1.2rem;
    color: $secondary-color;
    text-decoration: underline;
  }
}

.categories {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  margin-bottom: 20px;

  span {
    text-decoration: none;
    color: $main-color;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    text-transform: none;
    border-radius: 0px;
    width: 80%;
    margin: 0px 10px;
    display: inline-block;
    border-bottom: 1px solid $main-color;
    padding: 5px;

    &:hover {
      background-color: none;
      background-color: darken($bg-color, 5%);
    }
  }

  input {
    padding: 5px;
  }

  p {
    width: 150px;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 400;
  }

}

.side-bar-price {
  margin: 15px 0px;
  display: flex;
  flex-flow: column;

  form {
    display: flex;
    flex-flow: column;
  }

  input {
    width: 60px;
    align-self: center;
    margin: 5px;
    border: 1px solid $main-color;
    color: $main-color;

    &:focus {
      outline: none !important;
    }
  }

  label {
    padding: 10px;
    font-size: 1rem;
    color: $secondary-color;
  }

  button {
    align-self: center;
    border: 1px solid $main-color;
    color: $main-color;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;

    &:hover {
      background-color: darken($bg-color, $amount: 10%);
    }
  }
}

.side-bar-categoriesFilter {
  h4 {
    padding: 10px;
    font-size: 1.2rem;
    color: $secondary-color;
    font-weight: 400;
  }

  &-boxes {
    width: 100%;
  }

  &-item {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px $main-color dashed;

    label {
      padding: 5px;
    }

    input {
      margin: 0px 10px;
    }
  }
}
