@import 'variables';
@import './layouts/landing';
@import './layouts/about';
@import './layouts/shop';
@import './elements/login_form';
@import './elements/footer';
@import './elements/btn';
@import './elements/header';
@import './elements/product_card';

* {
  margin: 0;
  font-family: $main-font;
}

body{
  display:flex;
  flex-direction:column;
}
